In [10]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('resultados_docentes-894.csv')
df.head()

,CEDULA,APELLIDOS Y NOMBRE,DEPARTAMENTO,FACULTAD,CATEGORIA
0,10.271.133,AGUDELO AGUIRRE ALBERTO ANTONIO,DEPARTAMENTO DE ADMINISTRACIÓN,FACULTAD DE ADMINISTRACIÓN,NaN
1,30.394.025,ALVAREZ GIRALDO CLAUDIA MILENA,DEPARTAMENTO DE ADMINISTRACIÓN,FACULTAD DE ADMINISTRACIÓN,INVESTIGADOR ASOCIADO (I)
2,10.236.570,ARISTIZABAL LOPEZ NELSON,DEPARTAMENTO DE ADMINISTRACIÓN,FACULTAD DE ADMINISTRACIÓN,NaN
3,10.244.391,BAUTISTA PARRADO MIGUEL,DEPARTAMENTO DE ADMINISTRACIÓN,FACULTAD DE ADMINISTRACIÓN,NaN
4,10.266.455,CARVAJAL OROZCO JOSE GABRIEL,DEPARTAMENTO DE ADMINISTRACIÓN,FACULTAD DE ADMINISTRACIÓN,INVESTIGADOR JUNIOR (IJ)

In [6]:
df.columns

Index(['CEDULA', 'APELLIDOS Y NOMBRE', 'DEPARTAMENTO', 'FACULTAD',
       'CATEGORIA'],
      dtype='object')

In [15]:
get_set = lambda column:[d.capitalize() for d in np.unique(df[column].to_list())]

In [16]:
get_set('DEPARTAMENTO')

['Departamento de administración',
 'Departamento de ciencias humanas',
 'Departamento de física y química',
 'Departamento de informática y computación',
 'Departamento de ingeniería civil',
 'Departamento de ingeniería eléctrica, electrónica y computación',
 'Departamento de ingeniería industrial',
 'Departamento de ingeniería química',
 'Departamento de matemáticas',
 'Escuela de arquitectura y urbanismo',
 'Instituto de estudios ambientales - idea - manizales']

In [17]:
get_set('FACULTAD')

['Investigador asociado (i)',
 'Investigador emerito (ie)',
 'Investigador junior (ij)',
 'Investigador senior (is)',
 'Nan']

In [19]:
get_set('CATEGORIA')

['Investigador asociado (i)',
 'Investigador emerito (ie)',
 'Investigador junior (ij)',
 'Investigador senior (is)',
 'Nan']

In [27]:
[n for n in df['APELLIDOS Y NOMBRE'].to_list() if len(n.split())==5]

['NOGUERA DE ECHEVERRI ANA PATRICIA',
 'AGUDELO CALLE JAIRO DE JESUS',
 'LOPERA ARIAS EMER DE JESUS',
 'RAMIREZ RAMIREZ DIOGENES DE JESUS',
 'JARAMILLO GIRALDO JAVIER DE JESUS',
 'ZAMBRANO NAJERA JEANNETTE DEL CARMEN',
 'RODRIGUEZ CORDOBA MARIA DEL PILAR',
 'GONZALEZ HOYOS NELSON DE JESUS',
 'GIRALDO RIVERA MARIELA DEL PILAR',
 'GUZMAN ROJAS GUSTAVO DE JESUS',
 'SANCHEZ BELTRAN MARIA DEL PILAR']

In [46]:
def fix_name(name):
    
    name = name.lower().replace(' del', '_del').replace(' de', '_de').strip().split()
    
    match len(name):
        
        case 1:  # only first name
            return {'first_name': ''.join(name).title()}
        
        case 2:  # one first name and one last name
            return {'first_name': name[1].title(),
                    'last_name': name[0].title()}
        
        case 3:  # one first name and two last name
            return {'first_name': name[-1],
                    'last_name': ' '.join(name[:-1]).replace('_', ' ').title()}
        
        case 4:  # first name and last name
            return {'first_name': ' '.join(name[-2:]).replace('_', ' ').title(),
                    'last_name': ' '.join(name[:-2]).replace('_', ' ').title()}

In [47]:
fix_name('SANCHEZ BELTRAN MARIA DEL PILAR')

{'first_name': 'Maria Del Pilar', 'last_name': 'Sanchez Beltran'}

In [33]:
'ZAMBRANO NAJERA JEANNETTE DEL CARMEN'.lower().replace(' del', '_del').replace(' de', '_de').strip().split()

['zambrano', 'najera', 'jeannette_del', 'carmen']